<div class="container">
    <div class="auto-complete">
      <!-- Search Input -->
      <input #inputSearch class="input-search" type="text" placeholder="Player Search" [(ngModel)]="query" >
      <!-- Dropdown Menu -->
      <div *ngIf='query' class='search-result drop-doown'>
        <table>
          <a [routerLink]="['/sport',sport,'player',player.id]">
          <tr class="item" *ngFor='let player of players | searchFilter: query' (click)="onSelectPlayer(player); inputSearch.value=''">
            <td>
              <div class="avatar">
                <img [src]="player.PhotoUrl" alt="avatar" width="65" height="90">
              </div>
            </td>
            <td>{{ player.FirstName }} {{ player.LastName }}</td>
            <td>{{ player.Team }}</td>
          </tr>
        </a>
        </table>
      </div>
    </div>
  </div>
  
  