.navbar-container{
    margin: 0px 0px 10px 0px;
    padding : 10px 0 10px 10px;
    font-family: 'PT Sans', sans-serif;
    display: block;
    // flex-direction: column;
    position: relative;
    border-radius: 1px;
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 30%);
    background: #fff;
    width: 100%;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

h6 {
    margin-bottom: 0px !important;
}

.navbar-nav li {
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}