.container-fluid{
    margin:0 !important;
    padding: 0 !important;
    font-family: 'PT Sans', sans-serif;
}

.navbar {
    padding: 0px 0 10px 10px !important;
    background-color: #d00;
}

.nav-item {
    text-align: left !important;
}

.nav-link img {
    height: 30px;
}

.navbar {
    padding-bottom: 0px !important;
}
