body{
    margin: 0 !important;
}

.main-content {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    transform: translateZ(0);
    overflow: hidden;
}

.headline-wrapper  {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 2px lightgray;
    margin-bottom: 10px;
}

.schedule-wrapper {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 2px lightgray;
    margin-bottom: 10px;
}

.row-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.team-wrapper {
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
}

.team-wrapper h5 {
  margin: 0;
}

.headlines-wrapper {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 2px lightgray;
    margin-bottom: 10px;
}

.title-wrapper {
    padding: 5px;
}

img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-wrapper{
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
    width: 100%;
}

a {
    text-decoration: none;
}

h2 {
    color:black;
    padding-top: 0.4em;
}

h2:hover {
    color:blue;
}

p {
    color:rgb(86, 86, 86);
    margin: 0;
}

li p {
    color:rgb(86, 86, 86);
    margin: 0;
    font-size: 13px;
}

li h5 {
    padding-left: 10px;
}

ul {
    padding-right: 32px;
    margin-top: 10px;
}

.schedule-wrapper .separator {
    margin-top: 10px;
}

.schedule-wrapper h3 {
    padding: 10px;
}

.logo-sm {
    height: 30px;
    width: 50px;
}

.game-info {
    text-align: right;
}

.wins-losses {
    padding-left: 10px;
}

.headlines-wrapper a {
    text-decoration: none;
    color:black;
}

.headlines-wrapper a:hover {
    color:blue;
}

.headlines-wrapper .header {
    padding-top: 10px;
    text-align: center;
}

.headlines-wrapper ul {
    font-size: 12px;
    padding: 5px;
    margin: 0 5px;
}

.headlines-wrapper .separator {
    margin-bottom: 1em;
    margin: 0;
}

.headlines-wrapper .first-separator {
    margin: 0 15px;
}

.headlines-wrapper .limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
  }