<secondary-navbar></secondary-navbar>
<div class="container">
    <div class="row ">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <section class = 'main-content'>
                
                <div class='standings-wrapper'>
                    <team [style.display]="'none'" (teamsEvent)="getTeams($event)"></team>
                    <h3 class='title'>{{sport | uppercase }} Standings</h3>
                    <div *ngIf="sport==='nfl' " class='conference-wrapper'>
                        <a><h5 [ngClass]="conference==='AFC' ? 'active-conference' : 'conference' " (click)="toggleConf('AFC')">AFC</h5></a>
                        <a><h5 [ngClass]="conference==='NFC' ? 'active-conference' : 'conference' " (click)="toggleConf('NFC')">NFC</h5></a>
                    </div>

                    <div *ngIf="sport==='nfl' && teams.length > 0" class='standings-wrapper'>
                        <div *ngIf='teams.length > 0' class='standings-list-container' >
                            <div *ngFor='let division of nflDivisions' class='table-wrapper' >
                                <li>
                                <table class='standings-table'>
                                    <tr class='table-header'>
                                        <div class='th-division'>
                                            <th class='th-name bold'>{{division}}</th>
                                            <th class='th-count bold'>Wins</th>
                                            <th class='th-count bold'>Losses</th>
                                            <th class='th-count'>Ties</th>
                                        </div>
                                    </tr>
                                    <div *ngFor='let team of teams'>
                                        <div *ngIf="team.conference===conference && team.division===division" >
                                            <tr *ngIf='team.divisionRank===1'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                                <td class='td-count'>{{team.ties}}</td>
                                            </tr>
                                            <tr *ngIf='team.divisionRank===2'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                                <td class='td-count'>{{team.ties}}</td>
                                            </tr>
                                            <tr *ngIf='team.divisionRank===3'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                                <td class='td-count'>{{team.ties}}</td>
                                            </tr>
                                            <tr *ngIf='team.divisionRank===4'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                                <td class='td-count'>{{team.ties}}</td>
                                            </tr>
                                        </div>
                                    </div>  
                                </table>
                                </li>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="sport==='nba' " class='conference-wrapper'>
                        <a><h5 [ngClass]="conference==='Eastern' ? 'active-conference' : 'conference' " (click)="toggleConf('Eastern')">Eastern</h5></a>
                        <a><h5 [ngClass]="conference==='Western' ? 'active-conference' : 'conference' " (click)="toggleConf('Western')">Western</h5></a>
                    </div>
                    <div *ngIf="sport==='nba' " class='standings-wrapper'>
                        <div *ngIf='teams.length > 0' class='standings-list-container' >
                            <div *ngFor='let division of getArray()' class='table-wrapper' >
                                <li>
                                <table class='standings-table'>
                                    <tr class='table-header'>
                                        <div class='th-division'>
                                            <th class='th-name bold'>{{division}}</th>
                                            <th class='th-count bold'>Wins</th>
                                            <th class='th-count bold'>Losses</th>
                                        </div>
                                    </tr>
                                    <div *ngFor='let team of teams'>
                                        <div *ngIf="team.conference===conference && team.division===division" >
                                            <tr *ngIf='team.divisionRank===0'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                            </tr>
                                            <tr *ngIf='team.divisionRank===1'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                            </tr>
                                            <tr *ngIf='team.divisionRank===2'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                            </tr>
                                            <tr *ngIf='team.divisionRank===3'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                            </tr>
                                            <tr *ngIf='team.divisionRank===4'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                            </tr>
                                        </div>
                                    </div>  
                                </table>
                                </li>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="sport==='mlb' " class='conference-wrapper'>
                        <a><h5 [ngClass]="conference==='AL' ? 'active-conference' : 'conference' " (click)="toggleConf('AL')">American</h5></a>
                        <a><h5 [ngClass]="conference==='NL' ? 'active-conference' : 'conference' " (click)="toggleConf('NL')">National</h5></a>
                    </div>

                    <div *ngIf="sport==='mlb' && teams.length > 0" class='standings-wrapper'>
                        <div *ngIf='teams.length > 0' class='standings-list-container' >
                            <div *ngFor='let division of mlbDivisions' class='table-wrapper' >
                                <li>
                                <table class='standings-table'>
                                    <tr class='table-header'>
                                        <div class='th-division'>
                                            <th class='th-name bold'>{{division}}</th>
                                            <th class='th-count bold'>Wins</th>
                                            <th class='th-count bold'>Losses</th>
                                        </div>
                                    </tr>
                                    <div *ngFor='let team of teams'>
                                        <div *ngIf="team.conference===conference && team.division===division" >
                                            <tr *ngIf='team.divisionRank===1'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                            </tr>
                                            <tr *ngIf='team.divisionRank===2'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                            </tr>
                                            <tr *ngIf='team.divisionRank===3'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                            </tr>
                                            <tr *ngIf='team.divisionRank===4'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                            </tr>
                                            <tr *ngIf='team.divisionRank===5'>
                                                <td class='td-img'><img class='logo-xs' src={{team.wikipediaLogoUrl}} ></td>
                                                <td class='td-team'><a [routerLink]="['/sport', sportQuery, 'team', team.teamID, team.name]">{{team.name}}</a></td>
                                                <td class='td-count'>{{team.wins}}</td>
                                                <td class='td-count'>{{team.losses}}</td>
                                            </tr>
                                        </div>
                                    </div>  
                                </table>
                                </li>
                            </div>
                        </div>
                    </div>




                    
                </div>
            </section>
        </div>
        <news-headlines [style.display]="'none'" [query]="sportQuery" (newsEvent)="getArticles($event)"></news-headlines>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class='headlines-wrapper'>
                <h3 class='header'>HEADLINES</h3>
                <div class='list-wrapper'>
                    <ul *ngFor='let article of articles | slice : 0-10'>
                        <li *ngIf='article.image'><a href="{{article.url}}">
                            <div class='img-wrapper'>
                                <img class='headline-img' src={{article.image}} /> 
                            </div>
                            <div class='separator'></div>
                            <div class='title-wrapper'>
                                <h4>{{article.title}}</h4>
                                <!-- <p>{{headline.description}}</p> -->
                            </div>
                        </a></li>
                        <!-- <li><a href="{{article.url}}"><p class='limit'>{{article.title}}</p></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>