<div class="container">
    <div class="row ">
        
        <div class="col-8">
            <section class = 'main-content'>
                <div>
                    <div class='word-mark'>
                        <img src={{teams[teamID].wikipediaWordMarkUrl}} >
                    </div>
                    <news-headlines [style.display]="'none'" [query]="teamQuery" (articlesEvent)="getArticles($event)"></news-headlines>
                    <div class='headline-wrapper' *ngFor='let article of articles'>
                        <a href="{{article.url}}">
                            <div class='img-wrapper'>
                                <img src={{article.urlToImage}} /> 
                            </div>
                            <div class='separator'></div>
                            <div class='title-wrapper'>
                                <h2>{{article.title}}</h2>
                                <p>{{article.description}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-4">
            <div class='standings-wrapper'>
                
            </div>
        </div>
    </div>
</div>